
body {
  font-family: "Jost", sans-serif;
  color: #444444;
  
}

@media only screen and (max-width: 768px) {
  .mc-banner { z-index: 9999 !important; }
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  
}
h3{
  font-size: 2.5rem;
  padding-top:50px;
}

h1{
  padding-top: 2rem;
  padding-bottom: 10px;
}

p{
  font-size: 18px;
}

/*--------------------------------------------------------------
# All Sections
--------------------------------------------------------------*/
section {
  padding: 20px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}


/*--------------------------------------------------------------
# Nav bar
--------------------------------------------------------------*/
#navbar {
  overflow: hidden;
  background-color: rgba(33, 47, 60, 0.9);
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
}



#navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 15px 14px;
  text-decoration: none;
  font-size: 16px;
}
.nav-link{
  color: white;
}

#navbar img{
  width: 1.2rem;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("img/mountintro.png");
  background-position: 60%;
  background-repeat: no-repeat;
  
}

#hero .container {
  padding-top: 72px;

}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}



#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin: 0 auto;
  }
  .nav-pills{
    margin: 0 auto;
  }
  

}


/*--------------------------------------------------------------
# Micromobility Simplified
--------------------------------------------------------------*/
.services{
  padding-bottom: 7rem ;
  padding-top: 5rem;
  background-color: #f3f5fa;

}
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 70px 50px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box .icon{
  padding-bottom: 12px;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

/*--------------------------------------------------------------
# Our partners/3rd Party Data Provider
--------------------------------------------------------------*/

.content {
  padding: 40px;
}

.partners{
  background-color: white;
  padding-top: 7rem;
}
.partners .content ul{
  padding-top: 20px;
  list-style: none;
  font-size: 20px;
  
}

.partners .content li{
  padding-bottom: 10px;
}
   

.partners .content ul li span {
  position: relative;
  left: -25px;
}

.partners .content p{
  margin-bottom: 0;
  font-size: 20px;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team{
  padding-top: 5rem;
}
.team .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  
}

.team .col-xl-4 {
  padding-bottom: 20px;
 
}

.team .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}


.team .icon-box p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}

.team .icon-box:hover {
  transform: translateY(-10px);
}

.team a:hover{
  color: #1b4355;
}

.fa-lg{
  padding: 15px;
  margin: 0 auto;
}

